!!! 5

html

  head
    title Uploader
    meta(name="robots", content="noindex, nofollow")
    link(rel="stylesheet", href="/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    
  body
  
    a(href='http://github.com/bradleyg/uploader')
      img#github(src='https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67', alt='Fork me on GitHub')
      
    #wrapper

      #message
       p Before you can upload files you must first think of a 'secret' key. Visit this site along with the secret key appended to the url to upload files.
       p You will share this url with people you want to share files with.
       p#secret Example 'secret' url:
       a(href='//#{host}/my-secret-key') http://#{host}/my-secret-key

      #dropbox
        .message Drop files here to upload.

      ul#files
        each file in files
          li(id='id-' + file.id)
            a(href=file.shortUrl, target='_blank') 
              #{file.name}

    script(src='/js/jquery-1.7.min.js')
    script(src='/js/jquery.filedrop.js')
    script(src='/js/scripts.js')
    script 
      var s3Url = "#{domain}";